.fb-form {
  width: 100%;

  input {
    display: flex;
    padding: 0.3rem 0.7rem;
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
    border: 1px solid $light-color;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &:active,
    &:focus {
      outline: 0;
    }
  }
}
